@media screen and (min-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
        user-select: none;
    }

    @import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Mirza&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&display=swap');

    @font-face {
        font-family: montserrat;
        src: url(./assets/fonts/Montserrat_Alternates/MontserratAlternates-BoldItalic.ttf);
    }

    html,
    body {
        width: 100vw;
        height: 100vh;
        background-color: #F5F1EF;
    }

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        background-color: #262626;
        width: 100vw;
        height: 35px;
    }

    .nameLogo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-left: 10px;
    }

    header p {
        margin-left: 5px;
        font-family: montserrat;
        font-size: 16px;
        font-weight: 900;
        color: white;
    }

    .perfilIcon{
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: blueviolet;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 12px;
    }

    form {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #F5F1EF;
        width: 30vw;
        height: 75vh;
        box-shadow: 5px 6px 60px 0px rgba(128, 128, 128, 0.5);
        border-radius: 16px;
    }

    .login {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        margin-top: 1.5rem;
        /* border: 1px solid blue; */
    }

    .login button {
        font-family: 'Mirza', cursive;
    }

    button {
        max-width: 225px;
        max-height: 35px;
        width: 65vw;
        height: 75vh;
        border-radius: 8px;
        background-color: #262626;
        color: white;
        box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
        cursor: pointer;
    }

    button:active{
        transform: scale(.9);
    }

    form button {
        max-width: 225px;
        max-height: 35px;
        width: 65vw;
        height: 75vh;
        border-radius: 8px;
        background-color: #262626;
        color: white;
    }

    input {
        max-width: 225px;
        max-height: 35px;
        width: 65vw;
        height: 75vh;
        border-radius: 8px;
        border: 3px solid #262626;
        padding: 10px;
    }

    .h2Meio {
        font-weight: 100;
        font-size: 1rem;
        opacity: 0.65;
        color: #666666;
        font-family: 'Mukta Vaani', sans-serif;
    }

    .buttonTech {
        background-color: transparent;
        color: black;
        margin-bottom: 10px;
    }

    img {
        width: 16px;
        height: 16px;
    }

    .sidebar{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 6vw;
        height: 100vw;
        border: 1px solid blue;
    }

    .addTask{
        width: 24px;
        height: 24px;
        background-color: #666666;
        border-radius: 8px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .adcTask{
        width: 24px;
        height: 24px;
        background-color: #666666;
        color: white;
        border-radius: 8px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-family: 'Mirza', cursive;

    }

    main{
        display: flex;
        justify-content: center;
    }

    .testCard{
        width: 100vw;
        height: 100vh;
        border: 1px solid orange;
    }

    .tarefa1Teste{
        display: flex;
        justify-content: space-between;
        margin: 20px 0 0 20px;
        padding: 15px;
        /* border: 1px solid black; */
        height: 60%;
        width: 15%;
        border-radius: 8px;
        background-color: #808080;
        /* box-shadow: 0px 0px 18px 0px rgb(119, 118, 119); */
    }

    .tarefa1Teste:hover{
        border: 2px solid black;
    }

    .tarefa1Teste img {
        transform: rotate(90deg);
        cursor: pointer;
    }

    .headerTarefaTeste{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: stretch;
        justify-content: space-between;
        width: 100%;
        height: 25%;
    }
}